.wrapper {
    height: 40vh;

    margin: 10vh 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.wrapper h1 {
    text-align: center;
    color: #321750;
    font-size: 45px;
    /* font-family: "Courier New", Courier, monospace; */
    font-family: "Poppins";
}
.wrapper h3 {
    text-align: center;
    /* font-family: "Courier New", Courier, monospace; */
    font-family: "Poppins";
    font-size: 22px;
}

.wrapper img {
    width: 13vw;
}

.logo {
    display: flex;
    justify-content: space-around;
}

@media (max-width: 1200px) {
    .wrapper h1 {
        font-size: 35px;
    }
    .wrapper h3 {
        font-size: 18px;
    }
}

@media (max-width: 800px) {
    .wrapper {
        margin-top: 170px;
    }
}

@media (max-width: 550px) {
    .wrapper h1 {
        font-size: 25px;
    }
    .wrapper h3 {
        font-size: 14px;
    }
    .logo {
        flex-direction: column;
        align-items: center;
    }
    .wrapper img {
        width: 60%;
        margin: 15px 0px;
    }
}

@media (max-width: 450px) {
    .wrapper h1 {
        font-size: 22px;
    }
    .wrapper h3 {
        font-size: 12px;
    }
}
